.leader {
  flex: 1 1 50%;
  padding: 1%;
  display: inline-flex;
  position: relative;
 }
 .leader::after {
   content: '';
   display: block;
   position: absolute;
   top: 95%;
   width: 70%;
   left: 15%;
   border-top: 1px solid #dcdcdc;
 }
 .leader > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leader-position {
  flex: 1 1 10%;
}
.leader-media {
  flex: 1 1 30%;
}
.leader-avatar {
  height: 128px;
  width: 128px;
  border-radius: 50%;
}
.leader-nickname {
  flex: 1 1 30%;
}
.leader-score {
  flex: 1 1 30%;
}
