.profilePage {
  width: 400px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 30px;
}

.profile-legend {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.profile {
  padding-left: 0;
}

.profile-item {
  margin: 0;
  padding: 14px 6px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.profile-content {
  float: right;
  font-size: 14px;
  color: #8f9496;
  padding: 4px;
}
