.profilePage {
  width: 400px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 30px;
}

.profile {
  padding-left: 0;

  &-legend {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}
