@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --light: #e6e6e6;
  --dark: #1a1a1a;
  --grey: #999;
  --blue: #3369f3;
  --red: #ff2d4e;
  --pink: pink;

  --boxRadius: 5px;
}

body {
  font-family: sans-serif;
}

.app {
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  color: var(--blue);
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

li {
  list-style-type: none;
}
