.game-map-wrapper {
  display: flex;
  justify-content: center;
  color: #33393d;

  &__main {
   position: relative;
   border: 3px solid #2aabe4;
   border-radius: 5px;
   padding: 0;
  }

  &__final {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   text-align: center;
   color: #2aabe4;
   background: #ffffff;
   display: none;
  }

  &__left-sidebar, &__right-sidebar {
   width: 200px;
   border: 3px solid #2aabe4;
   border-radius: 5px;
   padding: 20px;
  }

  &__left-sidebar {
   margin-right: 20px;
  }

  &__right-sidebar {
    margin-left: 20px;
  }

  &__right-sidebar h3 span {
    font-weight: normal;
    font-size: 1rem;
  }

  &__btn-fullscreen {
    margin-top: 7rem;
  }
}

.game-map-wrapper__main[aria-disabled="true"] .game-map-wrapper__final {
  display: block;
}
