.forum {
  width: 95%;
  height: 100%;
  background: var(--white);
  border: 1px solid var(--bg);
  border-radius: var(--boxRadius);
  margin: 10px auto;
  &-header {
    border-bottom: 1px solid var(--light);
     h1 {
      text-align: left;
      padding-left: 1em;
    }
  }
  &-themes {
    width: 100%;
    margin: 10px 0 0px 0px;
  }
}
